# Web framework
Flask>=2.0.0
werkzeug>=2.0.0

# FFmpeg wrapper
ffmpeg-python>=0.2.0

# Core AI frameworks
pyannote-audio>=2.3.0
faster-whisper>=0.0.8
speechbrain>=0.5.12
ctranslate2>=2.20.0
onnxruntime>=1.15.0
lightning-fabric>=0.10.0

# Packaging & bundling
pyinstaller>=5.11.0
gdown>=4.6.5

# Model downloads
huggingface-hub>=0.16.4
requests>=2.31.0
wget>=3.2
